<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>个人主页</title>
</head>
<style>
	.bg{
		background-image: url("/static/img/bg.png");
	}
</style>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg navbar-dark" >
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="../index.html">首页</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link position-relative" href="letter.html">消息<span class="badge badge-danger">12</span></a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="register.html">注册</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="login.html">登录</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle" style="width:30px;"/>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" href="profile.html">个人主页</a>
									<a class="dropdown-item text-center" href="setting.html">账号设置</a>
									<a class="dropdown-item text-center" href="login.html">退出登录</a>
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary">nowcoder</span>
								</div>
							</li>
						</ul>
						<!-- 搜索 -->
						<form class="form-inline my-2 my-lg-0" action="search.html">
							<input class="form-control mr-sm-2" type="search" aria-label="Search" />
							<button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
						</form>
					</div>
				</nav>
			</div>
		</header>

		<!-- 内容 -->
		<div class="main" style="background-image: url(/img/bg9.png);background-size: 100% 100%;background-attachment: fixed">
			<div class="container" >
				<input type="hidden" id="entityId" th:value="${user.id}">
				<button type="button" th:class="|btn ${hasFollowed?'btn-secondary':'btn-info'} follow-btn|"
						th:utext="${hasFollowed?'已关注':'关注TA'}"
						th:if="${loginUser!=null&&loginUser.id!=user.id}"
						style="position:absolute;margin-left: 800px;margin-top: 50px">关注TA</button>

				<button type="button" id="conversation_id" th:class="|btn btn-info|"
						th:if="${loginUser!=null&&loginUser.id!=user.id}"
						th:onclick="|send(${loginUser.id},${user.id})|"
						style="position:absolute;margin-left: 800px;margin-top: 100px">私信TA</button>

				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" th:href="@{|/user/profile/${loginUser.id}|}">个人信息</a>
						</li>
					</ul>
				</div>
				<!-- 个人信息 -->
				<div style="text-align: center;">
					<img th:src="${user.headerUrl}" class="rounded-circle" alt="用户头像" style="width:200px;margin-top: 20px">
				</div>

				<h3 class="mt-2 text-warning" align="center">
					<span th:utext="${user.username}" style="color: #985fb6">username</span>
<!--					<input type="hidden" id="entityId" th:value="${user.id}">-->
<!--					<button type="button" th:class="|btn ${hasFollowed?'btn-secondary':'btn-info'} btn-sm float-right mr-5 follow-btn|"-->
<!--									th:utext="${hasFollowed?'已关注':'关注TA'}"-->
<!--									th:if="${loginUser!=null&&loginUser.id!=user.id}">关注TA</button>-->
				</h3>
				<div style="text-align: center">
					<div class="media">
						<div class="media-body">
							<div class="text-muted mt-0 mb-5">
								<a class="text-danger" style="font-size: 20px;" th:href="@{|/followees/${user.id}|}" th:utext="${followeeCount}">5</a><span style="font-size: 20px;color: #030303"> 关注  </span>
								<span class="ml-4" style="font-size: 20px;color: #030303"><a class="text-danger" style="font-size: 20px;" th:href="@{|/followers/${user.id}|}" th:utext="${followerCount}">123</a> 粉丝  </span>
								 <span class="ml-4" style="font-size: 20px;color: #030303"><i class="text-danger" style="font-size: 20px;" th:utext="${likeCount}">87</i> 获赞  </span>
							</div>
						</div>
					</div>
				</div>


				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" th:utext="|${user.username}发布|" th:href="@{|/user/profile/${user.id}|}">我的帖子</a>
						</li>
						<li class="nav-item" style="width: 3px"></li>
						<li class="nav-item">
							<a class="nav-link active" th:utext="|${user.username}赞过|" th:href="@{|/user/likepost/${user.id}|}">我赞过的</a>
						</li>
					</ul>
				</div>
				<!-- 我的帖子 -->
				<div class="mt-4">
					<ul class="list-unstyled">
						<li class="media pb-2 pt-2 mb-1 " th:each="map:${blogs}">
							<a th:href="@{|/user/profile/${map.user.id}|}">
								<img th:src="${map.user.headerUrl}" class="mr-4" alt="用户头像" style="width:95px;height:95px;">
							</a>
							<div class="media-body">
								<h6 class="mt-1 mb-1" style="font-size: 20px">
									<a th:href="@{|/blog/detail/${map.blog.id}|}" th:utext="${map.blog.title}" style="font-size: 20px;color: #985fb6;">备战春招，面试刷题跟他复习，一个月全搞定！</a>
									<input type="hidden" id="postId" th:value="${map.blog.id}">
									<button type="button" class="btn btn-danger btn-sm" id="deleteBtn"
											th:value="${loginUser.id}" sec:authorize="hasAnyAuthority('user')"
											th:onclick="|setDelete(${map.blog.id})|"
											style="float: right" th:if="${map.user.id==loginUser.id}" >删除</button>
									<button type="button" class="btn btn-danger btn-sm" id="deleteBtn"
											th:value="${loginUser.id}" sec:authorize="hasAnyAuthority('admin')"
											th:onclick="|setDelete(${map.blog.id})|"
											style="float: right" th:if="${map.user.id==loginUser.id}" >删除</button>
								</h6>
								<div class="mb-1" th:utext="${map.blog.content}" style="margin-top: 1px">
									文章内容
								</div>
								<div class="text-muted font-size-12" style="font-size: 15px">
									<u class="mr-3" th:utext="${map.user.username}" style="color: #088bbd">寒江雪</u><b th:text="${#dates.format(map.blog.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
									<ul class="d-inline float-right">
										<li class="d-inline ml-2"><img src="/img/like.jpg" style="width: 13px;height: 13px;margin-right: 4px" ><span th:text="${map.userLikeCount}">11</span></li>
										<li class="d-inline ml-2">|</li>
										<li class="d-inline ml-2"><img src="/img/comment.jpg" style="width: 14px;height: 14px;margin-right: 4px"><span th:text="${map.blog.commentCount}">7</span></li>
									</ul>
								</div>
								<hr style="height:1px;border-top:1px double #985fb6;" />
							</div>
						</li>
					</ul>
					<!-- 分页 -->
					<nav class="mt-5" th:if="${page.rows>0}" th:replace="index::pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
							</li>
							<li th:class="|page-item ${page.current==1?'disabled':''}|">
								<a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>
							<li th:class="|page-item ${i==page.current?'active':''}|" th:each="i:${#numbers.sequence(page.from,page.to)}">
								<a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
							</li>
							<li th:class="|page-item ${page.current==page.total?'disabled':''}|">
								<a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
							</li>
							<li class="page-item">
								<a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

		</div>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/profile.js}"></script>

</body>
</html>
