.content {
	font-size: 16px;
	line-height: 2em;
}

.replyform textarea {
	width: 100%;
	height: 200px;
}

.floor {
	background: #dcdadc;
	padding: 4px 12px;
	border-radius: 3px;
	font-size: 14px;
}

.input-size {
	width: 100%;
	height: 35px;
}

.main .container .content1 {
	width: 100%;
	background-color: #edeaef;
	padding: 20px;
	border-radius: 20px;
}

.ab_box {
	background-color: white;
	width: 200px;
	height: 250px;
	position: absolute;
	margin-left: 1280px;
}