<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--	&lt;!&ndash;访问该页面时，在此处生成CSRF令牌,&ndash;&gt;-->
<!--	<meta name="_csrf" th:content="${_csrf.token}">-->
<!--	<meta name="_csrf_header" th:content="${_csrf.headerName}">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>星悦博客</title>
</head>
<body>	
	<div class="nk-container">
		<!-- 头部 -->
		<header class="sticky-top" th:fragment="header" style="background-image: url(/img/bg4.png);background-size: 100% 100%;background-attachment: fixed">
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg " >
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-0 btn-group-vertical">
								<a class="nav-link" style="color: #e1d2f3;font-family: SimHei;font-size: 20px;" th:href="@{/index}">首页</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" style="color: #e1d2f3;font-family: SimHei;font-size: 20px;" th:href="@{/classify}">专区</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}">
								<a class="nav-link position-relative" style="color: #e1d2f3;font-family: SimHei;font-size: 20px;" th:href="@{/letter/list}">私信</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" style="color: #e1d2f3;font-family: SimHei;font-size: 20px;" th:href="@{/searchpage}">搜索</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
								<a class="nav-link" style="color: #e1d2f3;font-family: SimHei;font-size: 20px;" th:href="@{/register}">注册</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
								<a class="nav-link" style="color: #e1d2f3;font-family: SimHei;font-size: 20px;" th:href="@{/login}">登录</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}" sec:authorize="hasAnyAuthority('admin')" >
								<a class="nav-link" style="color: #e1d2f3;font-family: SimHei;font-size: 20px;" th:href="@{/manager}">管理</a>
							</li>
						</ul>
						<li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img th:src="${loginUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" th:href="@{|/user/profile/${loginUser.id}|}">我的主页</a>
								<a class="dropdown-item text-center" th:href="@{/user/avatar}">修改头像</a>
								<a class="dropdown-item text-center" th:href="@{/user/password}">修改密码</a>
								<a class="dropdown-item text-center" th:href="@{/logout}">退出登录</a>
								<div class="dropdown-divider"></div>
								<span class="dropdown-item text-center " style="color: #985fb6" th:utext="${loginUser.username}">nowcoder</span>
							</div>
						</li>
					</div>
				</nav>
			</div>
		</header>
		<a href="#publishBtn">
			<img src="/img/add.jpg" style="height: 100px;width: 100px;position: fixed;margin-left: 1500px;margin-top: 1%;border-radius: 50%">
		</a>
		<!-- 内容 -->
		<div class="main" style="background-image: url(/img/bg.png);background-size: 100% 100%;background-attachment: fixed">
			<div class="container" style="width: 80%">
				<div class="position-relative">
					<!-- 筛选条件 -->
					<ul class="nav nav-tabs mb-3">
						<li class="nav-item">
							<a th:class="|nav-link ${orderMode==0?'active':''}|" th:href="@{/index(orderMode=0)}">新发布</a>
						</li>
						<li class="nav-item">
							<a th:class="|nav-link ${orderMode==1?'active':''}|" th:href="@{/index(orderMode=1)}">热度高</a>
						</li>
					</ul>
				</div>
				<!-- 提示框 -->
				<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="hintModalLabel">提示</h5>
							</div>
							<div class="modal-body" id="hintBody">
								发布完毕!
							</div>
						</div>
					</div>
				</div>
				
				<!-- 帖子列表 -->
				<ul class="list-unstyled">
					<li class="media pb-2 pt-2 mb-1 " th:each="map:${blogs}">
						<a th:href="@{|/user/profile/${map.user.id}|}">
							<img th:src="${map.user.headerUrl}" class="mr-4" alt="用户头像" style="width:95px;height:95px;">
						</a>
						<div class="media-body">
							<h6 class="mt-1 mb-1" style="font-size: 20px">
								<a th:href="@{|/blog/detail/${map.blog.id}|}" th:utext="${map.blog.title}" style="font-size: 20px;color: #985fb6;">备战春招，面试刷题跟他复习，一个月全搞定！</a>
								<span class="badge badge-secondary" style="background-color: #985fb6;float: right;margin-right: 2px" th:utext="${map.blog.tag}">标签</span>
							</h6>
							<div class="mb-1" th:utext="${map.blog.content}" style="margin-top: 1px">
								 文章内容
							</div>
							<div class="text-muted font-size-12" style="font-size: 15px">
								<u class="mr-3" th:utext="${map.user.username}" style="color: #088bbd">寒江雪</u><b th:text="${#dates.format(map.blog.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
								<ul class="d-inline float-right">
									<li class="d-inline ml-2"><img src="/img/like.jpg" style="width: 13px;height: 13px;margin-right: 4px"><span th:text="${map.likeCount}">11</span></li>
									<li class="d-inline ml-2">|</li>
									<li class="d-inline ml-2"><img src="/img/comment.jpg" style="width: 14px;height: 14px;margin-right: 4px"><span th:text="${map.blog.commentCount}">7</span></li>
								</ul>
							</div>
							<hr style="height:1px;border-top:1px double #985fb6;" />
						</div>
					</li>
				</ul>
				<!-- 分页 -->
				<nav class="mt-5" th:if="${page.rows>0}" th:fragment="pagination">
					<ul class="pagination justify-content-center">
						<li class="page-item">
							<a class="page-link" style="color: #985fb6" th:href="@{${page.path}(current=1)}">首页</a>
						</li>
						<li th:class="|page-item ${page.current==1?'disabled':''}|">
							<a class="page-link" th:href="@{${page.path}(current=${page.current-1})}" style="color: #985fb6">上一页</a></li>
						<li th:class="|page-item |" th:each="i:${#numbers.sequence(page.from,page.to)}">
							<a class="page-link" th:href="@{${page.path}(current=${i})}" th:style="${i==page.current?'background-color: #985fb6;color: white':'color: #985fb6'}"  th:text="${i}">1</a>
						</li>
						<li th:class="|page-item ${page.current==page.total?'disabled':''}|">
							<a class="page-link" style="color: #985fb6" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
						</li>
						<li class="page-item">
							<a class="page-link" style="color: #985fb6" th:href="@{${page.path}(current=${page.total})}">末页</a>
						</li>
					</ul>
				</nav>
			</div>




			<div class="container mt-3" style="width: 100%">
				<div class="modal-header">
					<h5 class="modal-title" id="publishModalLabel" style="color: #985fb6">我要发布</h5>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">标题：</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">标签：</label>
							<select id="tag">
								<option value="其他" selected="selected">其他</option>
								<option value="科技">科技</option>
								<option value="生活">生活</option>
								<option value="美食">美食</option>
								<option value="娱乐">娱乐</option>
								<option value="宠物">宠物</option>
								<option value="军事">军事</option>
								<option value="运动">运动</option>
								<option value="政治">政治</option>
							</select>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">正文：</label>
							<textarea class="form-control" id="message-text" rows="15" style="height: 200px"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="publishBtn" style="background-color: #985fb6;color: white">发布</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{js/index.js}"></script>
</body>
</html>
