<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/register.css}" />
    <link rel="stylesheet" th:href="@{/css/index2.css}" />
    <link rel="stylesheet" th:href="@{/css/perpage_paul.css}" />
    <title>修改密码</title>
</head>
<body>

<div class="nk-container">
    <!-- 头部 -->
    <div class="header" style="height: 5%" th:fragment="header">
        <div class="header_resize" style="height: 5%">
            <div class="menu_nav" style="height: 5%">
                <ul>
                    <li><a th:href="@{/index}">首页</a></li>
                    <li><a th:href="@{/classify}">专区</a></li>
                    <li th:if="${loginUser!=null}"><a th:href="@{/conversation/list}">私信</a></li>
                    <li><a th:href="@{/searchpage}">搜索</a></li>
                    <li th:if="${loginUser==null}"><a th:href="@{/register}">注册</a></li>
                    <li th:if="${loginUser==null}"><a th:href="@{/login}">登录</a></li>
                    <li th:if="${loginUser!=null}" sec:authorize="hasAnyAuthority('admin')"> <a th:href="@{/manager}" >管理</a></li>
                </ul>
            </div>
            <div class="searchform" th:if="${loginUser!=null}">
                <div class="headPortrait" title ="个人中心"> <a th:if="${loginUser!=null}" th:href="@{|/user/profile/${loginUser.id}|}"  > <img th:src="${loginUser.headerUrl}" /></a></div>
            </div>
            <br><br th:if="${loginUser==null}">
        </div>
    </div>

    <!-- 内容 -->
    <div class="main" style="height: 800px;background-image: url(/img/bg7.png);background-size: 100% 100%;background-attachment: fixed">
        <div class="container " style="margin-top: 5%">


            <form th:action="@{/user/change_password}" method="post" class="sign-in-form">
                <h2 class="title" >修改密码</h2>
                <hr style="height: 5px">
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" th:value="${param.password}"  name="password" id="old-password" required="required"  placeholder="请输入原密码" />
                </div>
                <p th:text="${passwordError}" style="color: #e80021">原密码!</p>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" th:value="${param.newPassword}" name="newPassword" id="new-password" required="required"  placeholder="请输入新密码" />
                </div>
                <p th:text="${newPasswordError}" style="color: #e80021">新密码!</p>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" th:value="${param.newPassword}" name="newPassword2" id="confirm-password" required="required"  placeholder="请再次输入密码" />
                </div>
                <hr style="height:1px;border-top:1px #985fb6;" />
                <input type="submit" value="确认修改" class="btn solid" />
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/setting.js}"></script>
<script>
    $(function(){
        bsCustomFileInput.init();
    });
</script>
</body>
</html>
