<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">-->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/profile.css}" />
	<link rel="stylesheet" th:href="@{/css/perpage_paul.css}" />
	<link rel="stylesheet" th:href="@{/css/index2.css}" />

	<title>个人主页</title>
</head>

<body>

	<div class="nk-container">
		<!-- 头部 -->
		<div class="header" style="height: 5%" th:fragment="header">
			<div class="header_resize" style="height: 5%">
				<div class="menu_nav" style="height: 5%">
					<ul>
						<li><a th:href="@{/index}">首页</a></li>
						<li><a th:href="@{/classify}">专区</a></li>
						<li th:if="${loginUser!=null}"><a th:href="@{/conversation/list}">私信</a></li>
						<li><a th:href="@{/searchpage}">搜索</a></li>
						<li th:if="${loginUser==null}"><a th:href="@{/register}">注册</a></li>
						<li th:if="${loginUser==null}"><a th:href="@{/login}">登录</a></li>
						<li th:if="${loginUser!=null}" sec:authorize="hasAnyAuthority('admin')"> <a th:href="@{/manager}" >管理</a></li>
					</ul>
				</div>
				<div class="searchform" th:if="${loginUser!=null}">
					<div class="headPortrait" title ="个人中心"> <a th:if="${loginUser!=null}" th:href="@{|/user/profile/${loginUser.id}|}"  > <img th:src="${loginUser.headerUrl}" /></a></div>
				</div>
				<br><br th:if="${loginUser==null}">
			</div>
		</div>

		<!-- 内容 -->
		<div class="main" style="background-image: url(/img/bg9.png);background-size: 100% 100%;background-attachment: fixed">
			<div class="container" style="border-radius: 20px;background-color: #e7e7f1">

				<aside class="sidebar" th:if="${loginUser!=null&&loginUser.id==user.id}">
					<nav class="nav">
						<a style="font-size: 20px" th:href="@{/index}">首页</a>
						<a style="font-size: 20px" th:href="@{|/user/profile/${loginUser.id}|}">个人资料</a>
						<a style="font-size: 20px" th:href="@{/user/password}">修改密码</a>
						<a style="font-size: 20px" th:href="@{/user/avatar}">修改头像</a>
						<a style="font-size: 20px" th:href="@{/logout}">退出登录</a>
					</nav>
				</aside>

				<input type="hidden" id="entityId" th:value="${user.id}">
				<button type="button" th:class="|${hasFollowed?'btn2':'btn'} follow-btn|"
						th:utext="${hasFollowed?'已关注':'关注他'}"
						th:if="${loginUser!=null&&loginUser.id!=user.id}"
						style="position:absolute;margin-left: 800px;margin-top: 50px">关注TA</button>

				<input type="button" id="conversation_id" value="私信他"  th:if="${loginUser!=null&&loginUser.id!=user.id}"
					   th:onclick="|send(${loginUser.id},${user.id})|" style="position:absolute;margin-left: 800px;margin-top: 102px"  class="btn solid" />

				<input type="button" id="user_info1" value="详细信息"  th:if="${loginUser!=null&&loginUser.id!=user.id}"
					   th:onclick="|enterinfo(${user.id})|" style="position:absolute;margin-left: 800px;margin-top: 154px"  class="btn solid" />

				<input type="button" id="user_info2" value="详细信息"  th:if="${loginUser!=null&&loginUser.id==user.id}"
					   onclick="enteredit();" style="position:absolute;margin-left: 800px;margin-top: 154px"  class="btn solid" />


				<!-- 个人信息 -->
				<div style="text-align: center;">
					<div style="color: #972dda;font-size: 25px">个人信息</div>
					<img th:src="${user.headerUrl}" class="rounded-circle" alt="用户头像" style="width:200px;margin-top: 20px">
				</div>
				<div></div>

				<h3 class="mt-2 text-warning" align="center">
					<span th:utext="${user.username}" style="color: #985fb6">username</span>
				</h3>
				<div style="text-align: center">
					<div class="media">
						<div class="media-body">
							<div class="text-muted mt-0 mb-5">
								<a class="text-danger" style="font-size: 20px;" th:href="@{|/followees/${user.id}|}" th:utext="${followeeCount}">关注数</a><span style="font-size: 20px;color: #030303"> 关注  </span>
								<span class="ml-4" style="font-size: 20px;color: #030303"><a class="text-danger" style="font-size: 20px;" th:href="@{|/followers/${user.id}|}" th:utext="${followerCount}">粉丝数</a> 粉丝  </span>
								 <span class="ml-4" style="font-size: 20px;color: #030303"><i class="text-danger" style="font-size: 20px;" th:utext="${likeCount}">点赞数</i> 获赞  </span>
							</div>
						</div>
					</div>
				</div>

				<div class="position-relative">
					<!-- 筛选条件 -->
					<ul class="nav nav-tabs">
						<a class="btn4" style="text-align: center;margin-left: 34%;font-size: 20px" th:utext="|${user.username}发布|" th:href="@{|/user/profile/${user.id}|}">发布</a>&nbsp;
						<a class="btn4" style="text-align: center;font-size: 20px" th:utext="|${user.username}赞过|" th:href="@{|/user/likepost/${user.id}|}">赞过</a>
					</ul>
				</div>

				<!-- 我的帖子 -->
				<div class="mt-4">
					<ul class="list-unstyled">
						<li class="media pb-2 pt-2 mb-1 " th:each="map:${blogs}" style="background-color: #ece5fa">
							<a th:href="@{|/user/profile/${map.user.id}|}">
								<img th:src="${map.user.headerUrl}" class="mr-4" alt="用户头像" style="width:95px;height:95px;">
							</a>
							<div class="media-body">
								<h6 class="mt-1 mb-1" style="font-size: 20px">
									<a th:href="@{|/blog/detail/${map.blog.id}|}" th:utext="${map.blog.title}" style="font-size: 20px;color: #985fb6;">博客标题</a>
									<input type="hidden" id="postId" th:value="${map.blog.id}">

									<button type="button" class="btn3" id="deleteBtn"
											th:value="${loginUser.id}" sec:authorize="hasAnyAuthority('user')"
											th:onclick="|setDelete(${map.blog.id},${loginUser.id})|"
											style="float: right" th:if="${map.user.id==loginUser.id}" >删除</button>
									<button type="button" class="btn3" id="deleteBtn"
											th:value="${loginUser.id}" sec:authorize="hasAnyAuthority('admin')"
											th:onclick="|setDelete(${map.blog.id},${loginUser.id})|"
											style="float: right" th:if="${map.user.id==loginUser.id}" >删除</button>

									<button type="button" class="btn5" id="updateBtn"
											th:value="${loginUser.id}" sec:authorize="hasAnyAuthority('user')"
											th:onclick="|update(${map.blog.id},${loginUser.id})|"
											style="float: right;margin-right: 2px" th:if="${map.user.id==loginUser.id}" >编辑</button>
									<button type="button" class="btn5" id="updateBtn"
											th:value="${loginUser.id}" sec:authorize="hasAnyAuthority('admin')"
											th:onclick="|update(${map.blog.id},${loginUser.id})|"
											style="float: right;margin-right: 2px" th:if="${map.user.id==loginUser.id}" >编辑</button>
								</h6>
								<div class="mb-1" th:utext="${map.blog.content}" style="margin-top: 1px">
									博客内容
								</div>
								<div class="text-muted font-size-12" style="font-size: 15px">
									<u class="mr-3" th:utext="${map.user.username}" style="color: #088bbd">用户名</u><b th:text="${#dates.format(map.blog.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
									<ul class="d-inline float-right">
										<li class="d-inline ml-2"><img src="/img/like.jpg" style="width: 13px;height: 13px;margin-right: 4px" ><span th:text="${map.userLikeCount}">11</span></li>
										<li class="d-inline ml-2">|</li>
										<li class="d-inline ml-2"><img src="/img/comment.jpg" style="width: 14px;height: 14px;margin-right: 4px"><span th:text="${map.blog.commentCount}">7</span></li>
									</ul>
								</div>
								<hr style="height:1px;border-top:1px double #985fb6;" />
							</div>
						</li>
					</ul>
					<!-- 分页 -->
					<nav class="mt-5" th:if="${page.rows>0}" th:replace="index::pagination">
					</nav>
				</div>
			</div>

		</div>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<!--	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>-->
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/profile.js}"></script>
	<script th:src="@{/js/bootstrap.js}" crossorigin="anonymous"></script>
</body>
</html>
